<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799472674812-3dpp0tukgng7mki2r9nsghfavf6qb3hk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799472674812-3dpp0tukgng7mki2r9nsghfavf6qb3hk</string>
	<key>API_KEY</key>
	<string>AIzaSyBWKBGArwZjkD4wNTNuPPpSictgsOX1gGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>799472674812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shaalescreening.fluttertest</string>
	<key>PROJECT_ID</key>
	<string>shaalescreening</string>
	<key>STORAGE_BUCKET</key>
	<string>shaalescreening.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799472674812:ios:245c57d9185f906d393479</string>
</dict>
</plist>